@import-normalize;
@import "variables.module";
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
*{
  box-sizing: border-box;
}
input{

}
.app {
  text-align: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container{
  width: 100%;
  min-height: 100vh;
  height: 100%;
  max-width: 80%;
  display: grid;
  padding: 30px 0 50px 0;
  box-sizing: border-box;
  grid-template-areas: 'top top top ' 'left center right' ;
  grid-template-rows: 60px 5fr ;
  grid-template-columns: 1fr 3fr 1fr;
  gap: 30px;
  @media(max-width: 1400px){
    grid-template-columns: 1fr 2fr 1fr;
  }
  @media(max-width: 1200px){
    grid-template-rows: 60px 1.5fr 2.5fr ;
    grid-template-columns: 2.5fr 1.5fr ;
    grid-template-areas: 'top top ' 'center right ' 'center left';
    gap: 20px;
    max-width: 90%;
  }
}
.top {
  grid-area: top;
}
.left{
  flex: 0 0 20%;
  grid-area: left;
  box-shadow: inset $shadow;
  border-radius: $b-rad;
  padding: 15px;
  position: relative;
  height: 350px;
  @media(max-width: 991px){
    align-self: end;
  }
  h3{
    margin-bottom: 15px;
  }
}
.center{
  flex: 0 0 60%;
  position: relative;
  grid-area: center;

}
.addNewTodo{
  position: absolute;
  top: 0;
  right: 30px;
}
.addToLS{
  width: 100%;
  border-radius: 100px;
  margin-bottom: 10px;
}
.getFromLS{
  position: absolute;
  top: 100px;
  right: 30px;
}
.changeTheme{
  position: absolute;
  top: 150px;
  right: 30px;
}
.right{
  flex: 0 0 20%;
  grid-area:right;

}
.bottom{
  grid-area: btm;
}
.todoContainer {
  display: flex;
  flex-wrap: wrap;
}
.themeHandler{
  cursor: pointer;
  position: absolute;
  top: 10px;
  left: 10px;
  display: inline-block;
  width: 34px;
  height: 34px;
}
.absolute{
  position: absolute;
}