@import "variables.module";

.title {
  padding-top: 20px;
}
.input {
  display: inline-block;
  padding: 10px 15px;
  appearance: none;
  outline: none;
  border: none;
  color: inherit;
  font-size: 16px;
  width: 100%;
  min-height: 34px;
  border-radius: $b-rad;
  box-shadow: inset $shadow;
}
.button {
  appearance: none;
  border: none;
  outline: none;
  padding: 10px 15px;
  background: transparent;
  color: inherit;
  border-radius: 100px;
  font-weight: 600;
  display: inline-block;
  box-sizing: border-box;
  cursor: pointer;
  &:focus,&:hover,&:active{
    appearance: none;
    border: none;
    outline: none;
  }
}
.checkbox {
}
.iconBtn {
  width: 26px;
  min-width: 26px;
  height: 26px;
  min-height: 26px;
  opacity: 0.8;
}
.roundBtn{
  border-radius: 50px;
  border: 2px solid;
  padding: 3px;
}
.filter{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  gap: 5px;
  &__item{
    cursor: pointer;
    background-color: transparent;
    margin-top: 5px;
    flex:1 0 auto;
    border-radius: 50px;
    border: 2px solid;
    padding: 8px 12px 8px;
    font-weight: 500;
    position: relative;
    max-width: 50%;
  }
  &__beige{
    position: absolute;
    top: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: #000;
    display: inline-block;
  }
}
.arrowDown{
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  transform: rotate(90deg);
  position: relative;
  top: -3px;
}
.addForm {
  width: 100%;
  position: relative;
  &__add{
    position: absolute;
    top: 7px;
    right: 5px;
  }
}
.iconButton{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  cursor: pointer;
  button{
  }
  &__icon{
    position: absolute;
    top: 11px;
    right: -2px;
    width: 14px;
    height: 14px;
  }
}
.editableSpanContainer{
  display: inline-block;
  width: inherit;
  text-align: left;
  height: 100%;
}
.editableSpan{
  min-height: 34px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 0 10px ;
  overflow-wrap: break-word !important;
  word-break: break-word !important;

}
