@import "variables.module";

.title {
  padding-top: 20px;
}
.input {
  display: inline-block;
  padding: 10px 15px;
  appearance: none;
  outline: none;
  border: none;
  color: inherit;
  font-size: 16px;
  width: 100%;
  min-height: 34px;
  border-radius: $b-rad;
  box-shadow: inset $shadow;
}
.button {
  appearance: none;
  border: none;
  padding: 10px 15px;
  background: transparent;
  color: inherit;
  border-radius: $b-rad;
  font-weight: 600;
  &:focus{

    outline: none;
  }
}
.checkbox {
}
.iconBtn {
  width: 26px;
  min-width: 26px;
  height: 26px;
  min-height: 26px;
  opacity: 0.8;
}
.roundBtn{
  border-radius: 50px;
  border: 2px solid;
  padding: 3px;
}
.filter{
  display: flex;
  flex-wrap: wrap;
  &__item{
    margin: 0 10px 10px 0;
    border-radius: 50px;
    border: 2px solid;
    padding: 6px 12px 8px;
  }
}
.arrowDown{
  width: 20px;
  min-width: 20px;
  height: 20px;
  min-height: 20px;
  transform: rotate(90deg);
}
.addForm {
  width: 100%;
  position: relative;
  &__add{
    position: absolute;
    top: 7px;
    right: 5px;
  }
}
.iconButton{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  button{
  }
  &__icon{
    position: absolute;
    top: 11px;
    right: -2px;
    width: 14px;
    height: 14px;
  }
}
.editableSpanContainer{
  display: inline-block;
  width: 100%;
  text-align: left;
  height: 100%;
}
.editableSpan{
  min-height: 34px;
  height: 100%;
  display: flex;
  align-items: center;
  cursor: pointer;
  width: 100%;
  padding: 0 10px ;
}
