@import "variables.module";
.flex{
    display: flex;
    align-items: center;
    text-transform: none;
    margin-bottom: 20px;
    cursor: pointer;
    &>*:last-child{
        margin-left:  10px;
    }
}
.filteredContainer{
    text-align: left;
    font-size: 18px;
    text-transform: uppercase;
}
.filteredItem {
    margin-bottom: 15px;
    position: relative;
    display: flex;
    width: 100%;
    min-height: 20px;
    box-shadow: $shadow;
    border-radius: $b-rad;
    align-items: center;
    padding: 15px;
    cursor: pointer;
}
.item{
    &__color{
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        width: 12px;
        min-height: 100%;
        border-radius:  $b-rad 0 0 $b-rad;
        transition: all 0.3s linear;
    }
    &__text{
        display: block;
        margin-left: 15px;
    }
}