@import "variables.module";
//------colors------------------
.violet{
    background: $l-violet;
}
.aqua{
    background: $l-aqua;
}
.green{
    background: $l-green;
}
.blue{
    background: $l-blue;
}
.red{
    background: $l-red;
}
//-----colors-border-------------
.violetBorder{
    border-color: $l-violet;
}
.aquaBorder{
    border:3px solid $l-aqua;
}
.greenBorder{
    border-color: $l-green;
}
.blueBorder{
    border-color: $l-blue;
}
.redBorder{
    border-color: $l-red;
}
//---------------------------
.bgColor{
    background: $l-bg-color;
}
.fontColor{
    color:$l-color;
}
.activeFontColor{
    color:$l-active-color;
}
.bgElemColor{
    background: $l-bg-elem-color;
}
.bgElemDark{
    background: $l-bg-elem-dark;
}
.bgActive{
    background: $l-active-color;
}
.disabled{
    color:$l-disable-color;
    opacity: 0.5;
}
.borderColor{
    border:3px solid $l-active-color !important;
}

.activeBorderColor{
    border:3px solid $l-active-dark-color !important;
}
.formBg{
    background: $l-form-color;
    caret: $l-color;
}
.hoverBgColor{
    &:hover{
        background: rgba($l-active-color,0.5);
    }
}
.fillColor{
    fill:$l-color;
}
.activeFillColor{
    fill:$l-active-color;
}
.strokeColor{
    stroke:$l-color;
}
.contentCheckbox{
    position: relative;
    z-index: 10;
    min-width: 20px;
    width: 20px;
    min-height: 20px;
    height: 20px;
    border-radius: $b-rad;
    border: 1px solid;
    &__checkbox {
        position: absolute;
        opacity: 0;
        width: 20px;
        height: 20px;
        z-index: 10;
        top: 0;
        left: 0;
    }
}