@import "variables.module";

.addTodoForm {
    padding: 20px;
    box-shadow: $shadow;
    max-width: 450px;
    margin: 0 auto;
    border-radius: $b-rad;
    border: 3px solid;

    input {
        box-shadow: inset $shadow;
    }
}

.todolist {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 0 auto;
    box-shadow: $shadow;
    padding: 20px;
    border-radius: $b-rad;
    border: 3px solid;

    &__form {
        display: flex;
        flex-direction: column;

        &__filters {
            display: flex;
            justify-content: space-between;
        }

        &__filter {
            display: inline-block;
            padding: 10px;

            border-radius: 5px;
            margin-right: 5px;
            font-size: 14px;

            &_last {
                justify-self: flex-end;


            }
        }

        &__title {
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        &__body {
            display: flex;
            width: 100%;
            align-items: center;
            margin-bottom: 10px;
            position: relative;
        }

        &__input {

            box-shadow: inset $shadow;
        }

        &__button {
            display: inline-block;
            margin-left: 5px;
            position: absolute;
            top: 7px;
            right: 5px;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;

    }

    &__task {
        //padding: 10px;
        margin-bottom: 10px;
        border-radius: $b-rad;
        overflow: hidden;
    }

    &__item {
        display: flex;
        font-size: 20px;
        align-items: center;
        justify-content: space-between;
        box-shadow: $shadow;
        padding: 10px;
        border-radius: $b-rad;
        max-width: 100%;

        &_first {
            flex: 1 0 250px;
            flex-wrap: wrap;
            display: flex;
            align-items: center;

            input {
                margin-right: 10px;
            }
        }

        &_last {
            min-width: 80px;
            display: flex;
            align-items: center;
            justify-content: flex-end;

            & > *:not(:last-child) {
                margin-right: 5px;
            }
        }
    }

    &__points {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}

.point {
    &__item {
        padding: 10px 10px 10px 20px;
        text-align: left;
        display: flex;
        font-size: 16px;
        justify-content: space-between;
        box-shadow: none;
    }
}
