@import "variables.module";

.addTodoForm {
    padding: 20px;
    box-shadow: $shadow;
    max-width: 450px;
    margin: 0 auto;
    border-radius: $b-rad;
    border: 3px solid;

    input {
        box-shadow: inset $shadow;
    }
}

.todolist {
    display: flex;
    flex-direction: column;
    width: 450px;
    margin: 0 auto;
    box-shadow: $shadow;
    padding: 20px;
    border-radius: $b-rad;
    border: 3px solid;
    @media(max-width: 1200px){
        width: 90%;
        margin: 0;
        min-height: 580px;
    }
    @media(max-width:767px){
        width: 100%;
        margin: 0;
    }
    &__title{
        font-size: 24px;
        text-transform: uppercase;
        margin: 20px 0;
        font-weight: 700;
        text-align: center;
        height: 34px;
        line-height: 34px;
        align-self: center;
        &_span{
            justify-content: center;
        }
    }
    &__form {
        display: flex;
        flex-direction: column;

        &__filters {
            display: flex;
            justify-content: space-between;
        }

        &__filter {
            display: inline-block;
            padding: 10px;

            border-radius: 5px;
            margin-right: 5px;
            font-size: 14px;

            &_last {
                justify-self: flex-end;


            }
        }

        &__title {
            margin-bottom: 20px;
            text-transform: uppercase;
        }

        &__body {
            display: flex;
            width: 100%;
            align-items: center;
            margin-bottom: 10px;
            position: relative;
        }

        &__input {

            box-shadow: inset $shadow;
        }

        &__button {
            display: inline-block;
            margin-left: 5px;
            position: absolute;
            top: 7px;
            right: 5px;
        }
    }
    &__settings{
        padding-top: 10px;
        display: flex;
        justify-content: space-between;
    }
    &__body {
        display: flex;
        flex-direction: column;
        height: 300px;
        overflow-y: auto;
        border-radius: $b-rad;
        padding: 4px;
        width: 100%;
        &::-webkit-scrollbar {
            display: none;
        }

    }

    &__task {
        //padding: 10px;
        margin-bottom: 10px;
        border-radius: $b-rad;
        width: 100%;
    }

    &__item {
        display: flex;
        font-size: 18px;
        align-items: flex-start;
        box-shadow: $bottom-shadow;
        padding: 10px;
        border-radius: $b-rad;
        max-width: 100%;


        &_first {
            flex: 1 0 70%;
            display: flex;

        }
        &__check{
            top: 7px;
        }
        &_last {
            flex: 0 1 30%;
            min-width: 65px;
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            position: relative;
            top: 3px;
        }
        &_lastTop{
            & > *:not(:last-child) {
                margin-right: 5px;
            }
        }
        &_lastBottom{
            font-size: 12px;
            align-self: flex-end;
        }
    }

    &__points {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
}
.addPoint{
    padding: 10px;
}
.point {
    &__item {
        padding: 10px 10px 10px 20px;
        text-align: left;
        display: flex;
        font-size: 16px;
        justify-content: space-between;
        box-shadow: none;
    }
}
.filters{
    &__item{

    }
}