$l-bg-color:#E6E7E9;
$l-bg-elem-color:#EAEAEB;
$l-bg-elem-dark:#E4E5E7;
$l-color:#2E2727;
$l-disable-color: #706c6c;
$b-rad:0.25rem;
$l-active-color:#C5C0E0;
$l-active-dark-color: #928cad;
$l-violet:#CDBBE4;
$l-red:#DAB2D6;
$l-blue:#BEC2E3;
$l-green:#B0D5C8;
$l-aqua:#B6D9DE;
$l-form-color:#EAEAEB;
$shadow:0 0px 10px 0 rgba(28, 23, 44, 0.25);
$bottom-shadow:0 2px 5px 0 rgba(28, 23, 44, 0.20);

$d-bg-color:#1D1E22;
$d-bg-elem-color:#27262B;
$d-bg-elem-dark:#18181A;
$d-color:#e8e2e2;
$d-disable-color: #bbb5b5;
$d-active-color:#4A5B68;
$d-active-dark-color: #879cad;
$d-violet:#574171;
$d-red:#71416C;
$d-blue:#3E4474;
$d-green:#3B5F52;
$d-aqua:#416372;
$d-form-color: #778691;